body{
    margin: 0;
    padding: 0;
    background-color: chartreuse;
    background-image: url("abes engineering college.jpeg");
    background-position: top left;
    background-repeat: no-repeat;
}
p{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 30px;
    color:blue;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 1px 10px 100px #fff;
    text-wrap: initial;
    clear:both

}
#para{
    color:antiquewhite;
    display: inline-block;

}
img{
    float:left;
}