body {
    font-family: Verdana;
    background-color: #ffffff;
    margin: 0;
}

.top-bar {
    background-color: #dcdcdc;
    text-align: center;
    padding: 12px;
    font-size: 20px;
}

.site-name {
    color: darkred;   
}

.menu a {
    display: inline-block;     
    background-color: #b3e5fc;
    padding: 8px 14px;
    margin: 6px;
    text-decoration: none;
    color: #000088;
    border-radius: 4px;
    border: 1px solid #000088;
}

.sub-menu a {
    background-color: #b9f6ca;
    color: #004d40;
    border-color: #004d40;
}

.menu a:hover {
    background-color: #888;
    color: white;
}
